@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");
html {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1736px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 360px;
    padding: 0 20px;
  }
}

.header {
  position: relative;
  z-index: 100;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  max-width: 1880px;
  padding-top: 37px;
  padding-bottom: 40px;
  background-color: rgba(50, 115, 152, 0);
  transition: background-color ease-in-out 0.4s;
  will-change: background-color;
}
@media (max-width: 1400px) {
  .header .container {
    max-width: 1280px;
    padding-top: 40px;
    padding-bottom: 45px;
  }
}
@media (max-width: 992px) {
  .header .container {
    gap: 40px;
    max-width: 768px;
    padding-top: 43px;
    padding-bottom: 37px;
  }
}
@media (max-width: 768px) {
  .header .container {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .header .container {
    padding-top: 20px;
    padding-bottom: 17px;
  }
}
@media (max-width: 992px) {
  .header.active .container {
    background-color: rgba(50, 115, 152, 0);
  }
}
.header__logo {
  flex: 0 0 auto;
  transition: filter ease-in-out 0.2s;
  will-change: filter;
}
@media (max-width: 992px) {
  .header__logo {
    position: relative;
    z-index: 10;
  }
}
.header__logo-link {
  display: flex;
  align-items: center;
  gap: 9px;
}
@media (max-width: 1400px) {
  .header__logo-link {
    gap: 7px;
  }
}
@media (max-width: 992px) {
  .header__logo-link {
    gap: 14px;
  }
}
@media (max-width: 576px) {
  .header__logo-link {
    gap: 7px;
  }
}
.header__logo-link-icon {
  display: block;
  max-width: 100%;
  width: 31px;
  height: auto;
}
@media (max-width: 1400px) {
  .header__logo-link-icon {
    width: 24px;
  }
}
@media (max-width: 992px) {
  .header__logo-link-icon {
    width: 44px;
  }
}
@media (max-width: 640px) {
  .header__logo-link-icon {
    width: 32px;
  }
}
@media (max-width: 576px) {
  .header__logo-link-icon {
    width: 21px;
  }
}
.header__logo-link-text {
  display: inline-block;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  color: #2f2f2f;
}
@media (max-width: 1400px) {
  .header__logo-link-text {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .header__logo-link-text {
    font-size: 42px;
  }
}
@media (max-width: 640px) {
  .header__logo-link-text {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .header__logo-link-text {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .active .header__logo {
    filter: brightness(0) invert(1);
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  gap: 40px;
}
@media (max-width: 992px) {
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    flex-direction: column;
    gap: 108px;
    padding: 281px 40px 168px;
    border-radius: 0 0 34px 34px;
    background-color: #327398;
    transform: translate3d(0, -1000px, 0);
    transition: transform ease-in-out 0.4s;
    will-change: transform;
  }
}
@media (max-width: 576px) {
  .header__nav {
    gap: 52px;
    padding: 132px 40px 80px;
  }
}
@media (max-width: 992px) {
  .header__nav.active {
    transform: translate3d(0, 0, 0);
  }
}
.header__nav::before {
  content: "";
  display: block;
}
@media (max-width: 992px) {
  .header__nav::before {
    display: none;
  }
}
.header__nav-menu {
  display: flex;
  justify-content: center;
  gap: 46px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 992px) {
  .header__nav-menu {
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }
}
@media (max-width: 576px) {
  .header__nav-menu {
    gap: 18px;
  }
}
.header__nav-link {
  font-weight: 500;
  font-size: 26px;
  color: #2f2f2f;
  transition: color ease-in-out 0.2s;
}
@media (max-width: 1400px) {
  .header__nav-link {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .header__nav-link {
    font-size: 56px;
    color: #fff;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .header__nav-link {
    font-size: 26px;
  }
}
.header__nav-link:hover {
  color: #dd49b3;
}
.header__burger {
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
  }
}
.header__burger-button {
  display: block;
  width: 46px;
  height: 46px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__burger-button {
    width: 22px;
    height: 22px;
  }
}
.header__burger-button::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: url(../assets/menu.svg) center/cover no-repeat;
  transition: background-image ease-in-out 0.2s;
}
.header__burger-button.active::before {
  background-image: url(../assets/close.svg);
  filter: brightness(0) invert(1);
}
.header__burger-button.active::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  display: block;
}

.footer {
  padding: 176px 0 97px;
  background-color: #2f2f2f;
}
@media (max-width: 1400px) {
  .footer {
    padding: 124px 0 78px;
  }
}
@media (max-width: 992px) {
  .footer {
    padding: 182px 0 52px;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 86px 0 24px;
  }
}
.footer .container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 992px) {
  .footer .container {
    flex-direction: column-reverse;
  }
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 27px 24px;
  padding-bottom: 46px;
}
@media (max-width: 1400px) {
  .footer__top {
    padding-bottom: 31px;
  }
}
@media (max-width: 992px) {
  .footer__top {
    padding: 16px 0 0;
  }
}
@media (max-width: 576px) {
  .footer__top {
    gap: 13px 16px;
  }
}
.footer__top-language {
  position: relative;
  flex: 0 0 auto;
}
@media (max-width: 992px) {
  .footer__top-language {
    order: 0;
  }
}
.footer__top-language-current {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10%;
  margin-top: -10%;
  font-weight: 500;
  font-size: 25px;
  color: #c0c0c0;
  cursor: pointer;
}
@media (max-width: 1400px) {
  .footer__top-language-current {
    gap: 6px;
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .footer__top-language-current {
    gap: 10px;
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .footer__top-language-current {
    gap: 4px;
    font-size: 10px;
  }
}
.footer__top-language-current::before {
  content: "";
  display: block;
  width: 28px;
  aspect-ratio: 1/1;
  background: url(../assets/globe.svg) center/28px no-repeat;
}
@media (max-width: 1400px) {
  .footer__top-language-current::before {
    width: 19px;
    background-size: 19px;
  }
}
@media (max-width: 992px) {
  .footer__top-language-current::before {
    width: 34px;
    background-size: 34px;
  }
}
@media (max-width: 576px) {
  .footer__top-language-current::before {
    width: 12px;
    background-size: 12px;
  }
}
.footer__top-language-current::after {
  content: "";
  display: block;
  width: 16px;
  aspect-ratio: 1/1;
  background: url(../assets/shevron.svg) center/16px no-repeat;
  transition: transform ease-in-out 0.2s;
}
@media (max-width: 1400px) {
  .footer__top-language-current::after {
    width: 10px;
    background-size: 10px;
  }
}
@media (max-width: 992px) {
  .footer__top-language-current::after {
    width: 13px;
    background-size: 13px;
  }
}
@media (max-width: 576px) {
  .footer__top-language-current::after {
    width: 8px;
    background-size: 8px;
  }
}
.footer__top-language:hover .footer__top-language-current::after {
  transform: rotate(180deg);
}
.footer__top-language-list {
  position: absolute;
  bottom: 120%;
  left: -12px;
  display: none;
  padding: 8px;
  border-radius: 6px;
  background-color: #272727;
}
@media (max-width: 576px) {
  .footer__top-language-list {
    padding: 3px;
    left: -6px;
  }
}
.footer__top-language-list-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 25px;
  color: #c0c0c0;
  padding: 4px;
}
@media (max-width: 1400px) {
  .footer__top-language-list-link {
    gap: 6px;
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .footer__top-language-list-link {
    gap: 10px;
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .footer__top-language-list-link {
    gap: 4px;
    padding: 3px;
    font-size: 10px;
  }
}
.footer__top-language-list-link::before {
  content: "";
  display: block;
  width: 28px;
  aspect-ratio: 1/1;
  background: url(../assets/globe.svg) center/28px no-repeat;
}
@media (max-width: 1400px) {
  .footer__top-language-list-link::before {
    width: 19px;
    background-size: 19px;
  }
}
@media (max-width: 992px) {
  .footer__top-language-list-link::before {
    width: 34px;
    background-size: 34px;
  }
}
@media (max-width: 576px) {
  .footer__top-language-list-link::before {
    width: 12px;
    background-size: 12px;
  }
}
.footer__top-language:hover .footer__top-language-list {
  display: block;
}
.footer__top-payment {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 12px;
}
@media (max-width: 1400px) {
  .footer__top-payment {
    gap: 8px;
  }
}
@media (max-width: 992px) {
  .footer__top-payment {
    gap: 17px;
    order: 3;
  }
}
@media (max-width: 576px) {
  .footer__top-payment {
    gap: 8px;
  }
}
.footer__top-payment-item {
  display: block;
  max-width: 100px;
  height: 40px;
  width: auto;
}
@media (max-width: 1400px) {
  .footer__top-payment-item {
    height: 26px;
  }
}
@media (max-width: 992px) {
  .footer__top-payment-item {
    height: 46px;
  }
}
@media (max-width: 576px) {
  .footer__top-payment-item {
    height: 22px;
  }
}
.footer__top-contacts, .footer__top-docs {
  display: flex;
  gap: 46px;
}
@media (max-width: 1400px) {
  .footer__top-contacts, .footer__top-docs {
    gap: 38px;
  }
}
@media (max-width: 992px) {
  .footer__top-contacts, .footer__top-docs {
    gap: 24px;
  }
}
@media (max-width: 576px) {
  .footer__top-contacts, .footer__top-docs {
    gap: 14px;
  }
}
@media (max-width: 992px) {
  .footer__top-contacts {
    order: 2;
  }
}
@media (max-width: 992px) {
  .footer__top-docs {
    order: 1;
  }
}
.footer__top-link {
  font-weight: 500;
  font-size: 25px;
  color: #c0c0c0;
  transition: color ease-in-out 0.2s;
}
@media (max-width: 1400px) {
  .footer__top-link {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .footer__top-link {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .footer__top-link {
    font-size: 10px;
  }
}
.footer__top-link:hover {
  color: #dd49b3;
}
.footer__bottom {
  display: flex;
  align-items: center;
  gap: 105px;
  padding-top: 46px;
  border-top: 1px solid #c0c0c0;
}
@media (max-width: 1400px) {
  .footer__bottom {
    gap: 61px;
    padding-top: 31px;
  }
}
@media (max-width: 992px) {
  .footer__bottom {
    padding: 0 0 16px;
    border-top: none;
    border-bottom: 1px solid #c0c0c0;
  }
}
@media (max-width: 576px) {
  .footer__bottom {
    gap: 39px;
  }
}
.footer__bottom-copyright-logo-link {
  display: flex;
  align-items: center;
  gap: 7px;
}
@media (max-width: 1400px) {
  .footer__bottom-copyright-logo-link {
    gap: 5px;
  }
}
@media (max-width: 992px) {
  .footer__bottom-copyright-logo-link {
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .footer__bottom-copyright-logo-link {
    gap: 5px;
  }
}
.footer__bottom-copyright-logo-link-icon {
  display: block;
  max-width: 100%;
  width: 32px;
  height: auto;
  transition: filter ease-in-out 0.2s;
  filter: brightness(0) saturate(100%) invert(67%) sepia(99%) saturate(5%) hue-rotate(59deg) brightness(93%) contrast(100%);
}
@media (max-width: 1400px) {
  .footer__bottom-copyright-logo-link-icon {
    width: 22px;
  }
}
@media (max-width: 992px) {
  .footer__bottom-copyright-logo-link-icon {
    width: 34px;
  }
}
@media (max-width: 576px) {
  .footer__bottom-copyright-logo-link-icon {
    width: 16px;
  }
}
.footer__bottom-copyright-logo-link-text {
  display: inline-block;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: #c0c0c0;
}
@media (max-width: 1400px) {
  .footer__bottom-copyright-logo-link-text {
    font-size: 19px;
  }
}
@media (max-width: 992px) {
  .footer__bottom-copyright-logo-link-text {
    font-size: 32px;
  }
}
@media (max-width: 640px) {
  .footer__bottom-copyright-logo-link-text {
    font-size: 32px;
  }
}
@media (max-width: 576px) {
  .footer__bottom-copyright-logo-link-text {
    font-size: 15px;
  }
}
.footer__bottom-copyright-logo-link:hover .footer__bottom-copyright-logo-link-icon {
  filter: brightness(0) saturate(100%) invert(43%) sepia(82%) saturate(956%) hue-rotate(224deg) brightness(98%) contrast(90%);
}
.footer__bottom-copyright-text {
  margin-top: 16px;
  font-weight: 500;
  font-size: 25px;
  color: #c0c0c0;
}
@media (max-width: 1400px) {
  .footer__bottom-copyright-text {
    margin-top: 10px;
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .footer__bottom-copyright-text {
    margin-top: 7px;
    font-weight: 400;
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .footer__bottom-copyright-text {
    margin-top: 4px;
    font-weight: 400;
    font-size: 11px;
  }
}
.footer__bottom-social {
  display: flex;
  align-items: center;
  gap: 48px;
}
@media (max-width: 1400px) {
  .footer__bottom-social {
    gap: 31px;
  }
}
@media (max-width: 992px) {
  .footer__bottom-social {
    gap: 40px;
  }
}
@media (max-width: 576px) {
  .footer__bottom-social {
    gap: 19px;
  }
}
.footer__bottom-social-link {
  display: block;
  width: 96px;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: filter ease-in-out 0.2s;
  filter: grayscale(100%);
  will-change: filter;
}
@media (max-width: 1400px) {
  .footer__bottom-social-link {
    width: 64px;
  }
}
@media (max-width: 992px) {
  .footer__bottom-social-link {
    width: 79px;
  }
}
@media (max-width: 576px) {
  .footer__bottom-social-link {
    width: 37px;
  }
}
.footer__bottom-social-link:hover {
  filter: grayscale(0%);
}
.footer__bottom-social-link_yt {
  background-image: url(../assets/youtube.svg);
}
.footer__bottom-social-link_dc {
  background-image: url(../assets/discord.svg);
}

.first-screen {
  background-color: #5fc5ff;
}
@media (max-width: 992px) {
  .first-screen {
    position: relative;
  }
}
.first-screen__content {
  display: flex;
  gap: 72px;
}
@media (max-width: 1400px) {
  .first-screen__content {
    gap: 50px;
  }
}
.first-screen__founder {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 0 624px;
  box-sizing: border-box;
}
@media (max-width: 1400px) {
  .first-screen__founder {
    flex: 0 0 456px;
  }
}
@media (max-width: 992px) {
  .first-screen__founder {
    position: absolute;
    z-index: 1;
    top: -21px;
    left: 312px;
    right: 0;
    flex: 0 1 auto;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .first-screen__founder {
    left: 200px;
  }
}
@media (max-width: 576px) {
  .first-screen__founder {
    top: -10px;
    left: 153px;
  }
}
@media (max-width: 400px) {
  .first-screen__founder {
    left: 94px;
  }
}
.first-screen__founder-figure {
  position: absolute;
  top: -30px;
  right: 0;
  z-index: 1;
}
@media (max-width: 1400px) {
  .first-screen__founder-figure {
    top: 50%;
    transform: translate3d(0, calc(-50% + 36px), 0);
  }
}
@media (max-width: 992px) {
  .first-screen__founder-figure {
    position: static;
    top: auto;
    right: auto;
    transform: none;
  }
}
.first-screen__founder-figure-image {
  display: block;
  max-width: 100%;
  width: 441px;
  height: auto;
}
@media (max-width: 1600px) {
  .first-screen__founder-figure-image {
    width: 380px;
  }
}
@media (max-width: 1400px) {
  .first-screen__founder-figure-image {
    width: 313px;
  }
}
@media (max-width: 992px) {
  .first-screen__founder-figure-image {
    max-width: 599px;
    width: 599px;
  }
}
@media (max-width: 576px) {
  .first-screen__founder-figure-image {
    width: 281px;
  }
}
.first-screen__founder-info {
  display: flex;
  flex-direction: column;
  padding-left: 46px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}
@media (max-width: 1400px) {
  .first-screen__founder-info {
    padding: 36px 0 0;
  }
}
@media (max-width: 992px) {
  .first-screen__founder-info {
    position: absolute;
    left: 172px;
    bottom: 92px;
    z-index: 10;
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .first-screen__founder-info {
    left: 81px;
    bottom: 44px;
    font-size: 12px;
  }
}
.first-screen__event {
  padding: 137px 0 58px;
}
@media (max-width: 1400px) {
  .first-screen__event {
    padding: 98px 0 41px;
  }
}
@media (max-width: 992px) {
  .first-screen__event {
    position: relative;
    z-index: 10;
    padding: 308px 0 122px;
  }
}
@media (max-width: 576px) {
  .first-screen__event {
    padding: 163px 0 58px;
  }
}
.first-screen__event-name {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 44px;
  line-height: 103%;
  text-transform: uppercase;
  color: #2f2f2f;
}
@media (max-width: 1400px) {
  .first-screen__event-name {
    margin: 0 0 4px;
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .first-screen__event-name {
    font-size: 42px;
  }
}
@media (max-width: 576px) {
  .first-screen__event-name {
    margin: 0 0 1px;
    font-size: 20px;
  }
}
.first-screen__event-date {
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 66px;
  line-height: 103%;
  text-transform: uppercase;
  color: #2f2f2f;
}
@media (max-width: 1400px) {
  .first-screen__event-date {
    margin: 0 0 26px;
    font-size: 46px;
  }
}
@media (max-width: 992px) {
  .first-screen__event-date {
    margin: 0 0 96px;
    font-size: 64px;
  }
}
@media (max-width: 576px) {
  .first-screen__event-date {
    margin: 0 0 45px;
    font-size: 30px;
  }
}
.first-screen__event-title {
  margin: 0 0 104px;
  font-weight: 700;
  font-size: 76px;
  line-height: 105%;
  text-transform: uppercase;
  color: #fff;
  max-width: 845px;
}
@media (max-width: 1600px) {
  .first-screen__event-title {
    margin: 0 0 74px;
    font-size: 54px;
  }
}
@media (max-width: 992px) {
  .first-screen__event-title {
    display: flex;
    flex-direction: column;
    margin: 0 0 245px;
    font-size: 76px;
    line-height: 116%;
  }
}
@media (max-width: 640px) {
  .first-screen__event-title {
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .first-screen__event-title {
    margin: 0 0 114px;
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .first-screen__event-title > span {
    font-size: 108px;
  }
}
@media (max-width: 640px) {
  .first-screen__event-title > span {
    font-size: 76px;
  }
}
@media (max-width: 576px) {
  .first-screen__event-title > span {
    font-size: 51px;
  }
}
.first-screen__event-getin-link {
  position: relative;
  display: inline-block;
  padding: 26px 74px 29px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 44px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 36px;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .first-screen__event-getin-link {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .first-screen__event-getin-link {
    width: 100%;
    font-size: 42px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .first-screen__event-getin-link {
    padding: 12px 34px;
    font-size: 20px;
    border-radius: 16px;
  }
}
.first-screen__event-getin-link:hover {
  border-color: #dd49b3;
}
.first-screen__event-getin-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 0;
  background-image: linear-gradient(270deg, #dd49b3 0%, #c849dd 100%);
  opacity: 0;
}
.first-screen__event-getin-link:hover::before {
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
.first-screen__event-getin-link span {
  position: relative;
  z-index: 1;
}

.why-we__content {
  display: flex;
  justify-content: space-between;
  gap: 34px;
  max-width: 1365px;
  margin: 0 auto;
  padding: 209px 0 309px;
  background: url(../assets/question.svg) top -100px center/576px no-repeat;
}
@media (max-width: 1400px) {
  .why-we__content {
    padding: 228px 0 310px;
    background-size: 506px;
    background-position: top -50px center;
  }
}
@media (max-width: 992px) {
  .why-we__content {
    padding: 104px 0 278px;
    background-size: 360px;
    background-position: top -21px center;
  }
}
@media (max-width: 576px) {
  .why-we__content {
    justify-content: center;
    gap: 15px;
    padding: 49px 0 129px;
    background-size: 170px;
    background-position: top -10px center;
  }
}
.why-we__left, .why-we__right {
  display: flex;
  flex-direction: column;
  gap: 69px;
}
@media (max-width: 1400px) {
  .why-we__left, .why-we__right {
    gap: 65px;
  }
}
@media (max-width: 992px) {
  .why-we__left, .why-we__right {
    gap: 82px;
  }
}
@media (max-width: 576px) {
  .why-we__left, .why-we__right {
    gap: 32px;
  }
}
.why-we__left {
  align-items: flex-end;
}
@media (max-width: 992px) {
  .why-we__left {
    align-items: flex-start;
  }
}
@media (max-width: 992px) {
  .why-we__left > *:first-child {
    padding-left: 21px;
  }
}
.why-we__right {
  align-items: flex-end;
}
@media (max-width: 992px) {
  .why-we__right {
    padding-top: 50px;
  }
}
@media (max-width: 576px) {
  .why-we__right {
    padding-top: 26px;
  }
}
@media (max-width: 992px) {
  .why-we__right > *:last-child {
    padding-right: 32px;
  }
}
@media (max-width: 576px) {
  .why-we__right > *:last-child {
    padding-right: 14px;
  }
}
.why-we__item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
}
.why-we__item-title {
  font-weight: 600;
  font-size: 76px;
  line-height: 103%;
  color: #2f2f2f;
}
@media (max-width: 1400px) {
  .why-we__item-title {
    font-size: 64px;
  }
}
@media (max-width: 992px) {
  .why-we__item-title {
    font-size: 46px;
  }
}
@media (max-width: 576px) {
  .why-we__item-title {
    font-size: 22px;
  }
}
.why-we__item-text {
  font-weight: 600;
  font-size: 50px;
  line-height: 103%;
  color: #2f2f2f;
}
@media (max-width: 1400px) {
  .why-we__item-text {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .why-we__item-text {
    font-size: 18px;
  }
}

.lets-play__content {
  display: flex;
  align-items: center;
  gap: 111px;
}
@media (max-width: 1600px) {
  .lets-play__content {
    gap: 80px;
  }
}
@media (max-width: 1120px) {
  .lets-play__content {
    flex-direction: column;
    gap: 64px;
  }
}
@media (max-width: 576px) {
  .lets-play__content {
    gap: 30px;
  }
}
.lets-play__info {
  flex: 0 5 auto;
  margin-top: -16px;
}
.lets-play__info-title {
  margin: 0 0 62px;
  font-weight: 600;
  font-size: 116px;
  line-height: 110%;
  color: #2f2f2f;
}
@media (max-width: 1600px) {
  .lets-play__info-title {
    margin-bottom: 46px;
    font-size: 84px;
  }
}
@media (max-width: 1120px) {
  .lets-play__info-title {
    margin-bottom: 62px;
    font-size: 92px;
  }
}
@media (max-width: 576px) {
  .lets-play__info-title {
    margin-bottom: 32px;
    font-size: 43px;
  }
}
.lets-play__info-bottom {
  display: flex;
  gap: 58px;
  font-size: 50px;
  line-height: 130%;
}
@media (max-width: 1600px) {
  .lets-play__info-bottom {
    gap: 42px;
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  .lets-play__info-bottom {
    gap: 36px;
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  .lets-play__info-bottom {
    gap: 19px;
    font-size: 18px;
  }
}
.lets-play__info-promise {
  flex: 0 0 305px;
  font-weight: 800;
  color: #dd49b3;
}
@media (max-width: 1600px) {
  .lets-play__info-promise {
    flex: 0 0 221px;
  }
}
@media (max-width: 576px) {
  .lets-play__info-promise {
    flex: 0 0 102px;
  }
}
.lets-play__info-text {
  font-weight: 600;
  color: #2f2f2f;
}
.lets-play__info-text-date {
  color: #dd49b3;
}
.lets-play__figure {
  flex: 0 1 599px;
}
@media (max-width: 1600px) {
  .lets-play__figure {
    flex: 0 0 434px;
  }
}
@media (max-width: 1120px) {
  .lets-play__figure {
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
  }
}
.lets-play__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.how-it-works {
  padding: 216px 0 0;
}
@media (max-width: 1400px) {
  .how-it-works {
    padding-top: 175px;
  }
}
@media (max-width: 992px) {
  .how-it-works {
    padding-top: 269px;
  }
}
@media (max-width: 576px) {
  .how-it-works {
    padding-top: 130px;
  }
}
.how-it-works__title {
  margin: 0 0 162px;
  font-weight: 600;
  font-size: 116px;
  line-height: 110%;
  color: #2f2f2f;
}
@media (max-width: 1400px) {
  .how-it-works__title {
    margin-bottom: 88px;
    font-size: 84px;
  }
}
@media (max-width: 992px) {
  .how-it-works__title {
    margin-bottom: 148px;
    font-size: 92px;
  }
}
@media (max-width: 576px) {
  .how-it-works__title {
    margin-bottom: 70px;
    font-size: 43px;
  }
}
.how-it-works__content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 160px;
}
@media (max-width: 1400px) {
  .how-it-works__content {
    gap: 60px;
    padding-bottom: 82px;
  }
}
@media (max-width: 992px) {
  .how-it-works__content {
    gap: 150px;
    padding-bottom: 170px;
  }
}
@media (max-width: 576px) {
  .how-it-works__content {
    gap: 70px;
    padding-bottom: 70px;
  }
}
.how-it-works__card {
  display: flex;
  gap: 60px;
}
@media (max-width: 1400px) {
  .how-it-works__card {
    gap: 42px;
  }
}
@media (max-width: 992px) {
  .how-it-works__card {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .how-it-works__card {
    gap: 20px;
  }
}
.how-it-works__card-figure {
  flex: 0 0 48%;
}
@media (max-width: 992px) {
  .how-it-works__card-figure {
    flex: 0 1 auto;
  }
}
.how-it-works__card-figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.how-it-works__card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
}
.how-it-works__card-info-title {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 68px;
  line-height: 120%;
  color: #2f2f2f;
}
@media (max-width: 1400px) {
  .how-it-works__card-info-title {
    margin-bottom: 15px;
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .how-it-works__card-info-title {
    margin-bottom: 20px;
    font-size: 64px;
  }
}
@media (max-width: 576px) {
  .how-it-works__card-info-title {
    margin-bottom: 10px;
    font-size: 30px;
  }
}
.how-it-works__card-info-text {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  color: #2f2f2f;
}
@media (max-width: 1400px) {
  .how-it-works__card-info-text {
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .how-it-works__card-info-text {
    font-size: 46px;
  }
}
@media (max-width: 576px) {
  .how-it-works__card-info-text {
    font-size: 22px;
  }
}
.how-it-works__goals-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  padding: 39px 0 43px;
  font-weight: 600;
  font-size: 44px;
  color: #2f2f2f;
  background-color: #5fc5ff;
  transition: color ease-in-out 0.2s;
}
@media (max-width: 1400px) {
  .how-it-works__goals-link {
    gap: 12px;
    padding-top: 28px 0 32px;
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .how-it-works__goals-link {
    gap: 16px;
    padding-top: 60px 0 65px;
    font-size: 64px;
  }
}
@media (max-width: 576px) {
  .how-it-works__goals-link {
    padding-top: 28px 0 32px;
    font-size: 30px;
  }
}
.how-it-works__goals-link:hover {
  color: #ffffff;
}
.how-it-works__goals-link::after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background: url(../assets/arrow.svg) center/36px no-repeat;
  transition: filter ease-in-out 0.2s;
  filter: brightness(0);
}
@media (max-width: 1400px) {
  .how-it-works__goals-link::after {
    width: 26px;
    height: 26px;
    background-size: 26px;
  }
}
@media (max-width: 992px) {
  .how-it-works__goals-link::after {
    width: 56px;
    height: 56px;
    background-size: 56px;
  }
}
@media (max-width: 768px) {
  .how-it-works__goals-link::after {
    width: 26px;
    height: 26px;
    background-size: 26px;
  }
}
.how-it-works__goals-link:hover::after {
  filter: brightness(0) invert(100%);
}
.how-it-works__goals-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: linear-gradient(90deg, #09a6ff 0%, #6a36ff 30.25%, #ff2ff7 100%);
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}
.how-it-works__goals-link:hover::before {
  opacity: 1;
}
.how-it-works__goals-link > span {
  position: relative;
  z-index: 2;
}
.how-it-works__description {
  padding: 185px 0 161px;
  font-weight: 500;
  font-size: 60px;
  line-height: 130%;
  color: #2f2f2f;
}
@media (max-width: 1400px) {
  .how-it-works__description {
    padding: 141px 0 93px;
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  .how-it-works__description {
    padding: 171px 0 110px;
  }
}
@media (max-width: 576px) {
  .how-it-works__description {
    padding: 80px 0 51px;
    font-size: 20px;
  }
}

.schedule {
  background: #2f2f2f;
  border-bottom: 1px solid #545454;
}
@media (max-width: 992px) {
  .schedule {
    border: none;
  }
}
.schedule__content {
  position: relative;
  padding: 153px 0 98px;
}
@media (max-width: 1400px) {
  .schedule__content {
    padding: 108px 0 69px;
  }
}
@media (max-width: 992px) {
  .schedule__content {
    padding: 255px 0 0;
  }
}
@media (max-width: 576px) {
  .schedule__content {
    padding: 120px 0 0;
  }
}
.schedule__info {
  position: relative;
  z-index: 2;
  max-width: 959px;
}
@media (max-width: 1400px) {
  .schedule__info {
    max-width: 682px;
  }
}
@media (max-width: 992px) {
  .schedule__info {
    max-width: none;
  }
}
.schedule__info-step {
  margin: 0 0 90px;
}
@media (max-width: 1400px) {
  .schedule__info-step {
    margin-bottom: 60px;
  }
}
@media (max-width: 992px) {
  .schedule__info-step {
    margin-bottom: 52px;
  }
}
@media (max-width: 576px) {
  .schedule__info-step {
    margin-bottom: 23px;
  }
}
.schedule__info-step-date {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  color: #fff;
}
@media (max-width: 1400px) {
  .schedule__info-step-date {
    margin-bottom: 20px;
    font-size: 30px;
  }
}
@media (max-width: 992px) {
  .schedule__info-step-date {
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .schedule__info-step-date {
    margin-bottom: 7px;
    font-size: 14px;
  }
}
.schedule__info-step-title {
  font-weight: 500;
  font-size: 60px;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 1400px) {
  .schedule__info-step-title {
    font-size: 42px;
  }
}
@media (max-width: 576px) {
  .schedule__info-step-title {
    font-size: 20px;
  }
}
.schedule__info-begin {
  margin-top: 180px;
}
@media (max-width: 1400px) {
  .schedule__info-begin {
    margin-top: 138px;
  }
}
@media (max-width: 992px) {
  .schedule__info-begin {
    margin-top: 165px;
  }
}
@media (max-width: 576px) {
  .schedule__info-begin {
    margin-top: 78px;
  }
}
.schedule__info-begin-button {
  position: relative;
  display: inline-block;
  max-width: 832px;
  width: 100%;
  padding: 31px 60px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 44px;
  color: #fff;
  text-align: center;
  border-radius: 36px;
  overflow: hidden;
  transition-property: background-image;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}
@media (max-width: 1400px) {
  .schedule__info-begin-button {
    padding: 22px 36px;
    font-size: 30px;
    border-radius: 26px;
  }
}
@media (max-width: 992px) {
  .schedule__info-begin-button {
    padding: 16px 36px;
    font-size: 38px;
    border-radius: 16px;
  }
}
@media (max-width: 576px) {
  .schedule__info-begin-button {
    padding: 8px 34px;
    font-size: 18px;
    border-radius: 8px;
  }
}
.schedule__info-begin-button::before, .schedule__info-begin-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  cursor: pointer;
}
.schedule__info-begin-button::before {
  z-index: 0;
  background-image: linear-gradient(90deg, #09a6ff 0%, #6a36ff 60%, #ff2ff7 100%);
}
.schedule__info-begin-button::after {
  z-index: 1;
  background-image: linear-gradient(90deg, #09a6ff 0%, #6a36ff 20%, #ff2ff7 100%);
  opacity: 0;
}
.schedule__info-begin-button:hover::after {
  opacity: 1;
}
.schedule__info-begin-button span {
  position: relative;
  z-index: 2;
}
.schedule__founder {
  position: absolute;
  right: 65px;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
@media (max-width: 1600px) {
  .schedule__founder {
    right: -20px;
  }
}
@media (max-width: 992px) {
  .schedule__founder {
    bottom: 76px;
  }
}
@media (max-width: 576px) {
  .schedule__founder {
    bottom: 36px;
  }
}
.schedule__founder-figure-image {
  display: block;
  max-width: 100%;
  width: 675px;
  height: auto;
}
@media (max-width: 1400px) {
  .schedule__founder-figure-image {
    width: 480px;
  }
}
@media (max-width: 992px) {
  .schedule__founder-figure-image {
    width: 487px;
  }
}
@media (max-width: 576px) {
  .schedule__founder-figure-image {
    width: 240px;
  }
}
.schedule__founder-info {
  position: absolute;
  left: 520px;
  bottom: 731px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}
@media (max-width: 1400px) {
  .schedule__founder-info {
    left: auto;
    right: 24px;
    bottom: 36px;
    max-width: 160px;
  }
}
@media (max-width: 992px) {
  .schedule__founder-info {
    font-size: 26px;
    max-width: 160px;
  }
}
@media (max-width: 576px) {
  .schedule__founder-info {
    right: 18px;
    bottom: 18px;
    font-size: 12px;
    max-width: 104px;
  }
}
.schedule__founder-info > * {
  display: block;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 1600px) {
  .schedule__founder-info > * {
    width: auto;
  }
}