.why-we {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 34px;
    max-width: 1365px;
    margin: 0 auto;
    padding: 209px 0 309px;
    background: url(../assets/question.svg) top -100px center / 576px no-repeat;

    @include desktop {
      padding: 228px 0 310px;
      background-size: 506px;
      background-position: top -50px center;
    }

    @include laptop {
      padding: 104px 0 278px;
      background-size: 360px;
      background-position: top -21px center;
    }

    @include mobile {
      justify-content: center;
      gap: 15px;
      padding: 49px 0 129px;
      background-size: 170px;
      background-position: top -10px center;
    }
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    gap: 69px;

    @include desktop {
      gap: 65px;
    }

    @include laptop {
      gap: 82px;
    }

    @include mobile {
      gap: 32px;
    }
  }

  &__left {
    align-items: flex-end;

    @include laptop {
      align-items: flex-start;
    }

    & > *:first-child {
      @include laptop {
        padding-left: 21px;
      }
    }
  }

  &__right {
    align-items: flex-end;

    @include laptop {
      padding-top: 50px;
    }

    @include mobile {
      padding-top: 26px;
    }

    & > *:last-child {
      @include laptop {
        padding-right: 32px;
      }

      @include mobile {
        padding-right: 14px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 6px;

    &-title {
      font-weight: 600;
      font-size: 76px;
      line-height: 103%;
      color: #2f2f2f;

      @include desktop {
        font-size: 64px;
      }

      @include laptop {
        font-size: 46px;
      }

      @include mobile {
        font-size: 22px;
      }
    }

    &-text {
      font-weight: 600;
      font-size: 50px;
      line-height: 103%;
      color: #2f2f2f;

      @include desktop {
        font-size: 36px;
      }

      @include mobile {
        font-size: 18px;
      }
    }
  }
}
